<header class="page-header">
<h1>About Us</h1>
</header>

<header class="page-header">
    <div class="intro">
      <p>
         We are a super special plant store that sells a vast variety of plants, both common and rare, that range in price from very affordable to "What was I thinking!".
      </p>
      <p>
         Please feel free to browse our online shop, or drop in and see us in person.  We pride ourselves on being able to answer almost any horticultural question!
      </p>
      <p>
         Looking for something you don't see?  Simply contact us and one of our friendly staff would be happy to jump on the next plane and spend the next few months scouring the jungle to find the perfect addition to your sun room.
      </p>
      <p>
         <h6>*** Please be advised that we are currently sold out of potato plants, and are unsure when we will be receiving our next batch of seedlings. ***</h6>
      </p>
    </div>
  </header>
